/**/

// -----------------------------------------------------------------------
// -----------------------------------------------------------------------
// -----------------------------------------------------------------------

div.inline-list-relation {
}

div.inline-list-relation > ul {
  margin-bottom: 0em;
}

div.compact-inline-list-relation {
}

div.container-relation {
}

div.container-relation > div.child-relations {
  margin-left: 2em;
}

div.container-relation > div.child-relations > div.child-relation {
}

span.prompt {
  font-weight: bold;
}

// -----------------------------------------------------------------------
// -----------------------------------------------------------------------
// -----------------------------------------------------------------------

table.history-table {
  border-collapse: collapse;
  border: 1px solid black;
}

table.relation {
  width: 100%;
  border-collapse: collapse;
  border: 0px solid purple;
  /*margin-left: 2em;*/
}

table.relation > tbody > tr > td, table.relation > tbody > tr > th {
  /*border-collapse: collapse;*/
  border: 1px solid grey;
  text-align: left; 
}

table.relation > tbody > tr > th {
  width: 10em;
  /*background-color: green;*/
}

table.relation > tbody > tr > td.relation-container {
  padding: 0 0 0 2em;
  border: 0px;
  /*padding-left: 2em;*/
}

/*table.relation > tbody > tr.tuple:hover {
  background: lightgrey;
}
*/

table.relation > tbody > tr > td.tuple-history {
  width: 2em;
  text-align: center;
}

table.relation > tbody > tr > td.tuple-menu {
  width: 1em;
}

td: {
  align-left;
}

td.field-variant {
  width: 5em;
}

/* Set a min height for the modal editor so that we can always see the popup menus */
#modalEditor .modal-content
{
  min-height:500px;
}

.editable:hover {
  background: #EEEEEE; /*lightgrey;*/
}
